.header {
  padding-top: 30px;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    font-size: 50px;
    font-weight: 300;
  }
  &__text {
    font-size: 20px;
    font-weight: 300;
  }
}
@media(max-width: 500px) {
  .header {
    &__title {
      font-size: 30px;
    }
  }
}