* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}
body {
  background: var(--bg-color);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
:root {
  --white: #fff;
  --black: #000;
  --bg-color: #F8F9F9;
  --border: rgba(0,0,0,.125);
  --color-text: #6c757d;
  --color-desc: #212529;
  --bg-hover: #eb5a1e;
  --bg-active: #ffc107;
  --bg--button: #007bff;
}